* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}
li {
    list-style: none;
}
nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 100px 0;
    background: #FF0000;
    overflow-x: hidden;
    /* padding-top: 60px; */
    transition: 0.5s;
}
.nav-list {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.nav-list li {
    position: relative;
    padding-left: 5px;
}
.nav-list li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 87px;
    background-color: #fff;
}
.nav-list li a{
    color: #fff;
    font-weight: 700;
    line-height: 32px;
    font-size: 10px;
}
.show {
    width: 171px;
}
.hamburger {
    cursor: pointer;
    width: 20px;
    display: flex;
    flex-direction: column;
}
.line {
    display: block;
    background-color: black;
    height: 2px;
    width: 20px;
    margin-top: 2px;
} 

/* .open .line1,.line4{
    display: none;
}
.open .line2{
    position: absolute;
    transform: rotate(-45deg);
}
.open .line3{
    position: absolute;
    transform: rotate(45deg);
} */
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.limiter {
    height: 90vh;
    display: grid;
    gap: 30px;
    grid-template-rows: 30px 350px 70px;
    transition: margin-left .5s;
    overflow: hidden;
}
.off-canvas{
    /* display: block; */
    position: relative;
    padding-left: 10px;
    width: 171px;
    margin-left: 171px;
}

section {
    display: grid;
}
.login-title {
    font-family: Montserrat,sans-serif;
    font-weight: bold;
    font-size: 42px;
    line-height: 32px;
    margin-bottom: 20px;
}
.subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.input-group i {
    position: absolute;
}
    
.input-group {
    width: 100%;
    margin-bottom: 10px;
}
.icon {
    /* height: 30px; */
    padding: 7px;
    color: #2604F6;
    min-width: 50px;
    text-align: center;
}
.input-field {
    height: 32px;
    width: 279px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #968686;
    
    border: 1.5px solid #2604F6;
    border-radius: 8px;
    outline: none;
    padding: 12px;
    padding-left: 40px;
    transition: border .2s ease-in-out;
}


.input-field:focus {
    border: 2.5px solid #2604F6;
}

button {
    width: 93px;
    height: 30px;
    color: #fff;
    font-family: Poppins;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;

    background: #2604F7;
    border: none;
    border-radius: 8px;
    align-self: flex-start;
}
footer {
    text-align: center;
    font-size: 12px;
    line-height: 12px;
}
a {
    text-decoration: none;
}
.form-group p {
    text-align: center;
    font-size: 12px;
    line-height: 12px;
}

/* @media screen and (min-width: 700px) {
    nav {
        flex-direction: row;
        padding: inherit;
        width: 100%;
        height: auto;
        position: relative;
    }
    .nav-list {
        height: auto;
        flex-direction: row;
    }
    .container {margin-left: 0;}
  } */